.body {
  text-align: center;
}

.div-input {
  margin-bottom: 10px;
  margin-top: 20px;
}

.label {
  font-size: 20px;
  font-weight: bold;
  /* color: darkblue; */
}

.input {
  font-size: 20px;
  border: solid 2px darkblue;
  border-radius: 7px;

}

.btn-calcular {
  font-size: 20px;
  color: white;
  background: #24525f;
  width: 50%;
  height: 50px;
}

.resultado {
  font-size: 40px;
  color: darkblue
}